* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    border: 0;
}
.section-1 {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}
.header {
    display: flex;
    justify-content: space-around;
}
.header-menu {
    display: flex;
    padding: 0;
    list-style-type: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb
}
.logo {
    color: #F9FAF8;
    font-size: 24px;
}
a {
    text-decoration: none;
    color: inherit;
}
.s1main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.s1text {
    display: flex;
    flex-direction: column;
    max-width: 495px;
    color: #e5e7eb;
}
.hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 700;
    margin-bottom: 0;
}
.placeholder {
    display: flex;
    width: 500px;
    max-width: 500px;
    background-color: grey;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    color: #F9FAF8;
}
.subtext {
    margin-right: 30px;
}
.button {
    background-color: #3882F6;
    color: #F9FAF8;
    margin: auto;
    padding: 5px 25px;
    border: none;
    border-radius: 7px;
}
.button1 {
    margin-left: 0;
}
.s2header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.s2hero {
    color: #1F2937;
    font-size: 36px;
    font-weight: 700;
}
.squares {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 220px;
    text-align: center;
    color: grey;
}
.square {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image {
    border: solid 3px #3882F6;
    height: 150px;
    width: 150px;
    border-radius: 7px;
}
.section-2 {
    padding-bottom: 40px;
}
.section-3 {
    background-color: #e5e7eb;
    justify-content: center;
    padding: 40px 230px;
    
}
.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    margin-bottom: 0;
}
.person {
    text-align: right;
    font-weight: 700;
}
.button2 {
    border: solid 2px white;
}
.section-4 {
    display: flex;
    padding: 40px 230px;
    justify-content: center;
}
.action {
    display: flex;
    background-color: #3882F6;
    width: 1000px;
    border-radius: 7px;
}
.action-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    flex: 2;

}
.a-t1 {
    padding: 0;
    margin: 0;
    color:  #F9FAF8;
}
.a-b {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.a-t2 {
    font-weight: 700;
}
.footer {
    padding: 40px;
    background-color: #1F2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center; 
}