* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    border: 0;
}
.section-1 {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}
.header {
    display: flex;
    justify-content: space-around;
}
.header-menu {
    display: flex;
    padding: 0;
    list-style-type: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb
}
.logo {
    color: #F9FAF8;
    font-size: 24px;
}
a {
    text-decoration: none;
    color: inherit;
}
.s1main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.s1text {
    display: flex;
    flex-direction: column;
    max-width: 495px;
    color: #e5e7eb;
}
.hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 700;
    margin-bottom: 0;
}
.placeholder {
    display: flex;
    width: 500px;
    max-width: 500px;
    background-color: grey;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    color: #F9FAF8;
}
.subtext {
    margin-right: 30px;
}
button {
    background-color: #3882F6;
    color: #F9FAF8;
    margin: auto;
    padding: 5px 25px;
    border: none;
    border-radius: 5px;
    margin-left: 0;
}
.s2header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.s2hero {
    color: #1F2937;
    font-size: 36px;
    font-weight: 700;
}
.squares {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 220px;
}
.square {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px red;
}
.image {
    border: solid 1px red;
    height: 100px;
    width: 100px;
}
